@page "/calculadoras/datas"
@using Clientes.Auxiliares

<h3>Calculadora de datas</h3>

<div class="container-fluid">
    <OperacaoData TipoCalculo="TipoCalculo.DiferencaDatas" />
    <OperacaoData TipoCalculo="TipoCalculo.AdicionarDias" />
    <OperacaoData TipoCalculo="TipoCalculo.SubtrairDias" />
</div>

@code {
}