@page "/calculadoras/datas"
@using Clientes.Web.Auxiliares.Componentes.Calculadoras
@using Clientes.Web.Auxiliares.Enumeradores

<h3>Calculadora de datas</h3>

<div class="container-fluid">
    <OperacaoData TipoCalculo="TipoCalculo.DiferencaDatas" />
    <OperacaoData TipoCalculo="TipoCalculo.AdicionarDias" />
    <OperacaoData TipoCalculo="TipoCalculo.SubtrairDias" />
</div>

@code {
}