@page "/calculadoras/datas"
@using Clientes.Web.Auxiliares.Componentes.Calculadoras
@using Clientes.Web.Auxiliares.Enumeradores

<h3>Calculadora de datas</h3>

<div class="container-fluid">
    <OperacaoData @rendermode="InteractiveServer" TipoCalculo="TipoCalculoData.Diferenca" />
    <OperacaoData @rendermode="InteractiveServer" TipoCalculo="TipoCalculoData.Adicionar" />
    <OperacaoData @rendermode="InteractiveServer" TipoCalculo="TipoCalculoData.Subtrair" />
</div>

@code {
}